@import "preset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100dvh;
}

a {
  text-decoration: none;
  color: unset;
}

ul, ol, li {
  list-style: none;
}

#app {
  width: 100%;
}

header {
  width: 100%;
  padding: 1.25rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 9998;
  background: #FFFFFF;
  box-shadow: 0 0 2rem .5rem #FFFFFF;
  @include vp-lg {
    padding: calc(1.25rem * .9) 1.5rem;
  }
  @include vp-md {
    padding: calc(1.25rem * .9) 1.5rem;
  }
  @include vp-sm {
    padding: calc(1.25rem * .8) 1rem;
  }
  @include vp-xs {
    padding: calc(1.25rem * .75) 1rem;
  }

  > .toolbar {
    width: 100%;
    max-width: 90rem;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    overflow: hidden;
    transition: all .5s ease;
    @include vp-lg {
      height: calc(6.25rem * .9);
    }
    @include vp-md {
      height: calc(6.25rem * .9);
    }
    @include vp-sm {
      height: calc(6.25rem * .8);
    }
    @include vp-xs {
      height: calc(6.25rem * .75);
    }

    > a {
      height: 2.5rem;
      padding: 0 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2.5rem;
      background: #F2F2F2;
      font-size: .875rem;
      font-weight: 500;
      color: #8F8F8F;
      @include vp-lg {
        height: calc(2.5rem * .9);
        padding: 0 calc(2.25rem * .9);
      }
      @include vp-md {
        height: calc(2.5rem * .9);
        padding: 0 calc(2.25rem * .9);
      }
      @include vp-sm {
        height: calc(2.5rem * .8);
        padding: 0 calc(2.25rem * .8);
      }
      @include vp-xs {
        height: calc(2.5rem * .75);
        padding: 0 calc(2.25rem * .75);
      }
    }

    &.disabled {
      height: 0;
    }
  }

  > .header-content {
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    @include vp-lg {
      gap: calc(1.25rem * .9);
    }
    @include vp-md {
      gap: calc(1.25rem * .9);
    }
    @include vp-sm {
      gap: calc(1.25rem * .8);
    }
    @include vp-xs {
      gap: calc(1.25rem * .75);
    }

    > .logo {
      height: 2.875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include vp-lg {
        height: calc(2.875rem * .9);
      }
      @include vp-md {
        height: calc(2.875rem * .9);
      }
      @include vp-sm {
        height: 2rem;
      }
      @include vp-xs {
        height: 1.5rem;
      }

      > img {
        height: 100%;
      }
    }

    > h1 {
      font-size: 2.5rem;
      font-weight: 500;
      color: #4E4E4E;
      @include vp-lg {
        font-size: calc(2.5rem * .9);
      }
      @include vp-md {
        font-size: calc(2.5rem * .9);
      }
      @include vp-sm {
        font-size: 1.75rem;
      }
      @include vp-xs {
        font-size: 1.25rem;
      }
    }

    > nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      @include vp-lg {
        gap: calc(.5rem * .9);
      }
      @include vp-md {
        gap: calc(.5rem * .9);
      }
      @include vp-sm {
        display: none;
      }
      @include vp-xs {
        display: none;
      }

      > a {
        padding: .875rem 3.125rem;
        border-radius: 4rem;
        background: #F2F2F2;
        font-size: 1.125rem;
        color: #464646;
        @include vp-lg {
          padding: calc(.875rem * .9) calc(3.125rem * .9);
          font-size: calc(1.125rem * .9);
        }
        @include vp-md {
          padding: calc(.875rem * .9) 2rem;
          font-size: calc(1.125rem * .9);
        }

        &.active {
          background: #FC3435;
          font-weight: 500;
          color: #FFFFFF;
        }
      }
    }
  }
}

main {
  width: 100%;
  padding-top: 18.75rem;
  z-index: 9997;
  background: #FFFFFF;
  @include vp-lg {
    padding-top: calc(18.75rem * .9);
  }
  @include vp-md {
    padding-top: calc(18.75rem * .9);
  }
  @include vp-sm {
    padding-top: 10rem;
  }
  @include vp-xs {
    padding-top: 10rem;
  }

  > section {
    width: 100%;
    padding: 0 2rem;
    @include vp-lg {
      padding: 0 1.5rem;
    }
    @include vp-md {
      padding: 0 1.5rem;
    }
    @include vp-sm {
      padding: 0 1rem;
    }
    @include vp-xs {
      padding: 0 1rem;
    }

    > .section-inner {
      width: 100%;
      max-width: 90rem;
      margin: 0 auto;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1.875rem;
      @include vp-lg {
        padding: 1.5rem 0;
        gap: calc(1.875rem * .9);
      }
      @include vp-md {
        padding: 1.5rem 0;
        gap: calc(1.875rem * .9);
      }
      @include vp-sm {
        padding: 1rem 0;
        gap: calc(1.875rem * .8);
      }
      @include vp-xs {
        padding: 1rem 0;
        gap: calc(1.875rem * .75);
      }

      > .section-title {
        width: 100%;
        padding: 1.5rem;
        border-bottom: .125rem solid #373737;
        font-size: 1.875rem;
        color: #2E2E2E;
        @include vp-lg {
          padding: calc(1.5rem * .9);
          font-size: calc(1.875rem * .9);
        }
        @include vp-md {
          padding: calc(1.5rem * .9);
          font-size: calc(1.875rem * .9);
        }
        @include vp-sm {
          padding: 1rem;
          font-size: calc(1.875rem * .8);
        }
        @include vp-xs {
          padding: 1rem;
          font-size: calc(1.875rem * .75);
        }
      }

      > .notice {
        width: 100%;
        margin-top: -1.875rem;
        padding: 1.75rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        background: #FFF3F3;
        @include vp-lg {
          margin-top: calc(-1.875rem * .9);
          flex-direction: column;
          gap: .9rem;
        }
        @include vp-md {
          margin-top: calc(-1.875rem * .9);
          flex-direction: column;
          gap: .9rem;
        }
        @include vp-sm {
          margin-top: calc(-1.875rem * .8);
          flex-direction: column;
          gap: .8rem;
        }
        @include vp-xs {
          margin-top: calc(-1.875rem * .75);
          flex-direction: column;
          gap: .75rem;
        }

        > h3 {
          padding: .5rem 3.125rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: .0625rem solid #FC3435;
          border-radius: 4rem;
          font-size: 1.25rem;
          font-weight: 500;
          color: #FC3435;
          @include vp-lg {
            padding: calc(.5rem * .9) calc(3.125rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-md {
            padding: calc(.5rem * .9) calc(3.125rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-sm {
            padding: calc(.5rem * .8) calc(3.125rem * .8);
            font-size: calc(1.25rem * .8);
          }
          @include vp-xs {
            padding: calc(.5rem * .75) calc(3.125rem * .75);
            font-size: calc(1.25rem * .75);
          }
        }

        > span {
          font-size: 1.25rem;
          font-weight: bold;
          color: #3A3A3A;
          @include vp-lg {
            font-size: calc(1.25rem * .9);
          }
          @include vp-md {
            font-size: calc(1.25rem * .9);
          }
          @include vp-sm {
            font-size: calc(1.25rem * .8);
          }
          @include vp-xs {
            font-size: calc(1.25rem * .75);
          }
        }
      }

      > .summary {
        width: 100%;
        padding: 0 1.5rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: #7E7E7E;
        @include vp-lg {
          padding: 0 calc(1.5rem * .9);
          font-size: calc(1.25rem * .9);
        }
        @include vp-md {
          padding: 0 calc(1.5rem * .9);
          font-size: calc(1.25rem * .9);
        }
        @include vp-sm {
          padding: 0 1rem;
          font-size: calc(1.25rem * .8);
        }
        @include vp-xs {
          padding: 0 1rem;
          font-size: calc(1.25rem * .75);
        }

        > mark {
          background: none;
          color: #FC3435;
        }
      }
    }

    &.changes {

      .table-wrapper {
        width: 100%;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 2.5rem;
        @include vp-lg {
          padding: 0 calc(1.5rem * .9);
          flex-direction: column;
          align-items: center;
        }
        @include vp-md {
          padding: 0 calc(1.5rem * .9);
          flex-direction: column;
          align-items: center;
        }
        @include vp-sm {
          padding: 0 1rem;
          flex-direction: column;
          align-items: center;
        }
        @include vp-xs {
          padding: 0;
          flex-direction: column;
          align-items: center;
        }

        > .table {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: .75rem;
          @include vp-lg {
            width: 100%;
            gap: calc(.75rem * .9);
          }
          @include vp-md {
            width: 100%;
            gap: calc(.75rem * .9);
          }
          @include vp-sm {
            width: 100%;
            gap: calc(.75rem * .8);
          }
          @include vp-xs {
            width: 100%;
            gap: .5rem;
          }

          > .table-title {
            width: 100%;
            font-size: 1.25rem;
            font-weight: bold;
            color: #2E2E2E;
            @include vp-lg {
              font-size: calc(1.25rem * .9);
            }
            @include vp-md {
              font-size: calc(1.25rem * .9);
            }
            @include vp-sm {
              font-size: calc(1.25rem * .8);
            }
            @include vp-xs {
              font-size: calc(1.25rem * .75);
            }
          }

          > .table-body {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: .75rem;
            @include vp-lg {
              gap: calc(.75rem * .9);
            }
            @include vp-md {
              gap: calc(.75rem * .9);
            }
            @include vp-sm {
              gap: calc(.75rem * .8);
            }
            @include vp-xs {
              gap: .125rem;
            }

            > ul {
              width: calc(100% / 3);
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: center;
              gap: .75rem;
              @include vp-lg {
                gap: calc(.75rem * .9);
              }
              @include vp-md {
                gap: calc(.75rem * .9);
              }
              @include vp-sm {
                gap: calc(.75rem * .8);
              }
              @include vp-xs {
                gap: .125rem;
              }

              > li {
                width: 100%;
                padding: .75rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border: .0625rem solid;
                border-radius: 4rem;
                font-size: 1.25rem;
                font-weight: 500;
                @include vp-lg {
                  padding: calc(.75rem * .9) 0;
                  font-size: calc(1.25rem * .9);
                }
                @include vp-md {
                  padding: calc(.75rem * .9) 0;
                  font-size: calc(1.25rem * .9);
                }
                @include vp-sm {
                  padding: calc(.75rem * .8) 0;
                  font-size: calc(1.25rem * .8);
                }
                @include vp-xs {
                  padding: calc(.75rem * .75) 0;
                  font-size: calc(1.25rem * .7);
                  border-radius: .5rem;
                }

                &.name {
                  color: #FFFFFF;
                }
              }
            }
          }

          &.season23 {

            li {
              border-color: #C8C8C8;
              color: #C8C8C8;

              &.name {
                background: #C8C8C8;
              }
            }
          }

          &.season24 {

            li {
              border-color: #FC3435;
              color: #FC3435;

              &.name {
                background: #FC3435;
              }
            }
          }
        }
      }
    }

    &.opinion {

      form {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: .75rem;

        > input {
          width: calc((100% - .75rem) / 2);
          padding: .75rem 1.5rem;
          border: .0625rem solid #A4A4A4;
          border-radius: .5rem;
          outline: .0625rem solid transparent;
          font-size: 1.25rem;
          font-weight: 500;
          @include vp-lg {
            padding: calc(.75rem * .9) calc(1.5rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-md {
            padding: calc(.75rem * .9) calc(1.5rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-sm {
            padding: calc(.75rem * .8) 1rem;
            font-size: calc(1.25rem * .8);
          }
          @include vp-xs {
            padding: calc(.75rem * .75) 1rem;
            font-size: calc(1.25rem * .75);
          }

          &:focus {
            border-color: transparent;
            outline-color: #FC3435;

            &::placeholder {
              opacity: 0;
            }
          }
        }

        > textarea {
          width: 100%;
          height: 16rem;
          padding: .75rem 1.5rem;
          border: .0625rem solid #A4A4A4;
          border-radius: .5rem;
          outline: .0625rem solid transparent;
          font-size: 1.25rem;
          font-weight: 500;
          resize: none;
          @include vp-lg {
            height: calc(16rem * .9);
            padding: calc(.75rem * .9) calc(1.5rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-md {
            height: calc(16rem * .9);
            padding: calc(.75rem * .9) calc(1.5rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-sm {
            height: calc(16rem * .8);
            padding: calc(.75rem * .8) 1rem;
            font-size: calc(1.25rem * .8);
          }
          @include vp-xs {
            height: calc(16rem * .75);
            padding: calc(.75rem * .75) 1rem;
            font-size: calc(1.25rem * .75);
          }

          &:focus {
            border-color: transparent;
            outline-color: #FC3435;

            &::placeholder {
              opacity: 0;
            }
          }
        }

        > .explain {
          width: 100%;
          padding: .75rem 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          background: #F3F3F3;
          font-size: 1.25rem;
          font-weight: 500;
          color: #7E7E7E;
          @include vp-lg {
            padding: calc(.75rem * .9) calc(1.5rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-md {
            padding: calc(.75rem * .9) calc(1.5rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-sm {
            padding: calc(.75rem * .8) 1rem;
            font-size: calc(1.25rem * .8);
          }
          @include vp-xs {
            padding: calc(.75rem * .75) 1rem;
            font-size: calc(1.25rem * .75);
          }

          > span:first-of-type {
            font-weight: bold;
            color: #373737;
          }

          > li {
            list-style: inside;

            &::marker {
              content: " - ";
            }
          }
        }

        > button {
          padding: 1rem 3.125rem;
          position: relative;
          border: none;
          outline: none;
          border-radius: 3rem;
          background: #FC3435;
          font-size: 1.25rem;
          font-weight: 500;
          color: #FFFFFF;
          @include vp-lg {
            padding: .9rem calc(3.125rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-md {
            padding: .9rem calc(3.125rem * .9);
            font-size: calc(1.25rem * .9);
          }
          @include vp-sm {
            padding: .8rem calc(3.125rem * .8);
            font-size: calc(1.25rem * .8);
          }
          @include vp-xs {
            padding: .75rem calc(3.125rem * .75);
            font-size: calc(1.25rem * .75);
          }
        }
      }
    }

    &.introduce {

      .swiper {
        width: 100%;

        .swiper-slide {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          gap: 1.875rem;
          @include vp-lg {
            gap: calc(1.875rem * .9);
          }
          @include vp-md {
            gap: calc(1.875rem * .9);
          }
          @include vp-sm {
            gap: calc(1.875rem * .8);
          }
          @include vp-xs {
            gap: calc(1.875rem * .75);
          }

          > .section-title {
            width: 100%;
            padding: 1.5rem;
            border-bottom: .125rem solid #373737;
            font-size: 1.875rem;
            color: #2E2E2E;
            @include vp-lg {
              padding: calc(1.5rem * .9);
              font-size: calc(1.875rem * .9);
            }
            @include vp-md {
              padding: calc(1.5rem * .9);
              font-size: calc(1.875rem * .9);
            }
            @include vp-sm {
              padding: 1rem;
              font-size: calc(1.875rem * .8);
            }
            @include vp-xs {
              padding: 1rem;
              font-size: calc(1.875rem * .75);
            }

            > sub {
              padding: .25rem 1rem;
              border-radius: 2rem;
              background: #2E2E2E;
              font-size: 1.125rem;
              color: #EBEB2B;
              @include vp-lg {
                padding: calc(.25rem * .9) .9rem;
                font-size: calc(1.125rem * .9);
              }
              @include vp-md {
                padding: calc(.25rem * .9) .9rem;
                font-size: calc(1.125rem * .9);
              }
              @include vp-sm {
                padding: calc(.25rem * .8) .8rem;
                font-size: calc(1.125rem * .8);
              }
              @include vp-xs {
                padding: calc(.25rem * .75) .75rem;
                font-size: calc(1.125rem * .75);
              }
            }
          }

          > .notice {
            width: 100%;
            margin-top: -1.875rem;
            padding: 1.75rem;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            background: #FFF3F3;
            @include vp-lg {
              margin-top: calc(-1.875rem * .9);
              flex-direction: column;
              gap: .9rem;
            }
            @include vp-md {
              margin-top: calc(-1.875rem * .9);
              flex-direction: column;
              gap: .9rem;
            }
            @include vp-sm {
              margin-top: calc(-1.875rem * .8);
              flex-direction: column;
              gap: .8rem;
            }
            @include vp-xs {
              margin-top: calc(-1.875rem * .75);
              flex-direction: column;
              gap: .75rem;
            }

            > h3 {
              padding: .5rem 3.125rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border: .0625rem solid #FC3435;
              border-radius: 4rem;
              font-size: 1.25rem;
              font-weight: 500;
              color: #FC3435;
              @include vp-lg {
                padding: calc(.5rem * .9) calc(3.125rem * .9);
                font-size: calc(1.25rem * .9);
              }
              @include vp-md {
                padding: calc(.5rem * .9) calc(3.125rem * .9);
                font-size: calc(1.25rem * .9);
              }
              @include vp-sm {
                padding: calc(.5rem * .8) calc(3.125rem * .8);
                font-size: calc(1.25rem * .8);
              }
              @include vp-xs {
                padding: calc(.5rem * .75) calc(3.125rem * .75);
                font-size: calc(1.25rem * .75);
              }
            }

            > span {
              font-size: 1.25rem;
              font-weight: bold;
              color: #3A3A3A;
              @include vp-lg {
                font-size: calc(1.25rem * .9);
              }
              @include vp-md {
                font-size: calc(1.25rem * .9);
              }
              @include vp-sm {
                font-size: calc(1.25rem * .8);
              }
              @include vp-xs {
                font-size: calc(1.25rem * .75);
              }
            }
          }

          > .summary {
            width: 100%;
            padding: 0 1.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #7E7E7E;
            @include vp-lg {
              padding: 0 calc(1.5rem * .9);
              font-size: calc(1.25rem * .9);
            }
            @include vp-md {
              padding: 0 calc(1.5rem * .9);
              font-size: calc(1.25rem * .9);
            }
            @include vp-sm {
              padding: 0 1rem;
              font-size: calc(1.25rem * .8);
            }
            @include vp-xs {
              padding: 0 1rem;
              font-size: calc(1.25rem * .75);
            }

            > mark {
              background: none;
              color: #FC3435;
            }
          }

          > .explain {
            width: 100%;
            padding: 2.5rem 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            @include vp-lg {
              padding: calc(2.5rem * .9) calc(1.5rem * .9);
            }
            @include vp-md {
              padding: calc(2.5rem * .9) calc(1.5rem * .9);
            }
            @include vp-sm {
              padding: calc(2.5rem * .8) 1rem;
            }
            @include vp-xs {
              padding: calc(2.5rem * .75) 1rem;
            }

            > span {
              margin-bottom: 1rem;
              font-size: 1.25rem;
              font-weight: bold;
              color: #2E2E2E;
              @include vp-lg {
                margin-bottom: .9rem;
                font-size: calc(1.25rem * .9);
              }
              @include vp-md {
                margin-bottom: .9rem;
                font-size: calc(1.25rem * .9);
              }
              @include vp-sm {
                margin-bottom: .8rem;
                font-size: calc(1.25rem * .8);
              }
              @include vp-xs {
                margin-bottom: .75rem;
                font-size: calc(1.25rem * .75);
              }
            }

            > li {
              list-style: inside;
              font-size: 1.25rem;
              font-weight: 500;
              color: #7E7E7E;
              @include vp-lg {
                font-size: calc(1.25rem * .9);
              }
              @include vp-md {
                font-size: calc(1.25rem * .9);
              }
              @include vp-sm {
                font-size: calc(1.25rem * .8);
              }
              @include vp-xs {
                font-size: calc(1.25rem * .75);
              }

              &::marker {
                content: " - ";
              }
            }
          }

          &:nth-of-type(1) {
            background: rgba(255, 255, 255, .3) url("../images/slide01.png") no-repeat right bottom / 43.75rem auto;
            background-blend-mode: color;
            @include vp-lg {
              background: none;
            }
            @include vp-md {
              background: none;
            }
            @include vp-sm {
              background: none;
            }
            @include vp-xs {
              background: none;
            }
          }

          &:nth-of-type(2) {
            background: rgba(255, 255, 255, .3) url("../images/slide02.png") no-repeat right bottom / 43.75rem auto;
            background-blend-mode: color;
            @include vp-lg {
              background: none;
            }
            @include vp-md {
              background: none;
            }
            @include vp-sm {
              background: none;
            }
            @include vp-xs {
              background: none;
            }
          }

          &:nth-of-type(3) {
            background: rgba(255, 255, 255, .3) url("../images/slide03.png") no-repeat right bottom / 26.25rem auto;
            background-blend-mode: color;
            @include vp-lg {
              background: none;
            }
            @include vp-md {
              background: none;
            }
            @include vp-sm {
              background: none;
            }
            @include vp-xs {
              background: none;
            }
          }
        }
      }

      .swiper-control {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        > a {
          width: 3rem;
          aspect-ratio: 1 / 1;
          display: flex;
          justify-content: center;
          align-items: center;
          @include vp-lg {
            width: 2.5rem;
          }
          @include vp-md {
            width: 2.5rem;
          }
          @include vp-sm {
            width: 2rem;
          }
          @include vp-xs {
            width: 2rem;
          }

          > img {
            width: 100%;
          }

          &.swiper-button-disabled {
            opacity: .4;
          }
        }

        > .swiper-pagination {
          width: auto;
          height: .25rem;
          position: unset;
          flex: 1;
          border-radius: .25rem;
          background: #C8C8C8;

          > .swiper-pagination-progressbar-fill {
            background: #FC3435;
          }
        }
      }
    }

    &.next {
      margin-top: 2rem;
      background: #F6F6F6;
      @include vp-lg {
        margin-top: calc(2rem * .9);
      }
      @include vp-md {
        margin-top: calc(2rem * .9);
      }
      @include vp-sm {
        margin-top: calc(2rem * .8);
      }
      @include vp-xs {
        margin-top: calc(2rem * .75);
      }

      > .section-inner {
        padding: 6.25rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include vp-lg {
          padding: calc(6.25rem * .9) 0;
        }
        @include vp-md {
          padding: calc(6.25rem * .9) 0;
        }
        @include vp-sm {
           padding: 3.125rem 0;
           flex-direction: column;
         }
        @include vp-xs {
          padding: 3.125rem 0;
          flex-direction: column;
        }

        > .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          @include vp-sm {
            align-items: center;
            text-align: center;
          }
          @include vp-xs {
            align-items: center;
            text-align: center;
          }

          > h3 {
            margin-bottom: .5rem;
            font-size: 1.875rem;
            color: #FC3435;
            @include vp-lg {
              margin-bottom: calc(.5rem * .9);
              font-size: calc(1.875rem * .9);
            }
            @include vp-md {
              margin-bottom: calc(.5rem * .9);
              font-size: calc(1.875rem * .9);
            }
            @include vp-sm {
              margin-bottom: calc(.5rem * .8);
              font-size: calc(1.875rem * .8);
            }
            @include vp-xs {
              margin-bottom: calc(.5rem * .75);
              font-size: calc(1.875rem * .75);
            }
          }

          > h2 {
            margin-bottom: 1.25rem;
            font-size: 3.125rem;
            color: #2E2E2E;
            @include vp-lg {
              margin-bottom: calc(1.25rem * .9);
              font-size: calc(3.125rem * .9);
            }
            @include vp-md {
              margin-bottom: calc(1.25rem * .9);
              font-size: calc(3.125rem * .9);
            }
            @include vp-sm {
              margin-bottom: calc(1.25rem * .8);
              font-size: calc(3.125rem * .8);
            }
            @include vp-xs {
              margin-bottom: calc(1.25rem * .75);
              font-size: calc(3.125rem * .75);
            }
          }

          > span {
            font-size: 1.25rem;
            font-weight: 500;
            color: #7E7E7E;
            @include vp-lg {
              font-size: calc(1.25rem * .9);
            }
            @include vp-md {
              font-size: calc(1.25rem * .9);
            }
            @include vp-sm {
              font-size: calc(1.25rem * .8);
            }
            @include vp-xs {
              font-size: calc(1.25rem * .75);
            }
          }
        }

        > a {
          padding: 1.5rem 3rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;
          border-radius: 4rem;
          background: #CBCBCB;
          font-size: 1.5rem;
          font-weight: 500;
          color: #FFFFFF;
          @include vp-lg {
            padding: calc(1.5rem * .9) calc(3rem * .9);
            gap: calc(1.5rem * .9);
            font-size: calc(1.5rem * .9);
          }
          @include vp-md {
            padding: calc(1.5rem * .9) calc(3rem * .9);
            gap: calc(1.5rem * .9);
            font-size: calc(1.5rem * .9);
          }
          @include vp-sm {
            padding: calc(1.5rem * .8) calc(3rem * .8);
            gap: calc(1.5rem * .8);
            font-size: calc(1.5rem * .8);
          }
          @include vp-xs {
            padding: calc(1.5rem * .75) calc(3rem * .75);
            gap: calc(1.5rem * .75);
            font-size: calc(1.5rem * .75);
          }

          > img {
            width: 3.875rem;
            @include vp-lg {
              width: calc(3.875rem * .9);
            }
            @include vp-md {
              width: calc(3.875rem * .9);
            }
            @include vp-sm {
              width: calc(3.875rem * .8);
            }
            @include vp-xs {
              width: calc(3.875rem * .75);
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 0 2rem;
  z-index: 9997;
  background: #0F0F0F;
  @include vp-lg {
    padding: 0 1.5rem;
  }
  @include vp-md {
    padding: 0 1.5rem;
  }
  @include vp-sm {
    padding: 0 1rem;
  }
  @include vp-xs {
    padding: 0 1rem;
  }

  > .footer-inner {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3.125rem;
    @include vp-lg {
      padding: calc(3.125rem * .9) 0;
      gap: calc(3.125rem * .9);
    }
    @include vp-md {
      padding: calc(3.125rem * .9) 0;
      gap: calc(3.125rem * .9);
    }
    @include vp-sm {
      padding: calc(3.125rem * .8) 0;
      gap: calc(3.125rem * .8);
    }
    @include vp-xs {
      padding: calc(3.125rem * .75) 0;
      gap: calc(3.125rem * .75);
    }

    > .info {
      font-size: 1rem;
      line-height: 160%;
      color: #9C9C9C;
      @include vp-lg {
        font-size: .9rem;
      }
      @include vp-md {
        font-size: .9rem;
      }
      @include vp-sm {
        font-size: .8rem;
      }
      @include vp-xs {
        font-size: .75rem;
      }

      > p:first-of-type {
        font-weight: bold;
        color: #FFFFFF;
      }
    }
  }
}

.alert {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -9999;
  background: rgba(0, 0, 0, .6);
  backdrop-filter: blur(.25rem);
  @include vp-lg {
    padding: 0 1.5rem;
  }
  @include vp-md {
    padding: 0 1.5rem;
  }
  @include vp-sm {
    padding: 0 1rem;
  }
  @include vp-xs {
    padding: 0 1rem;
  }

  > .alert-inner {
    width: 100%;
    max-width: 30rem;
    padding: 1.5rem;
    aspect-ratio: 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: .125rem solid #FC3435;
    border-radius: 1rem;
    background: #FFFFFF;
    @include vp-lg {
      padding: calc(1.5rem * .9);
    }
    @include vp-md {
      padding: calc(1.5rem * .9);
    }
    @include vp-sm {
      padding: 1rem;
    }
    @include vp-xs {
      padding: 1rem;
    }


    > span {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      @include vp-lg {
        font-size: calc(1.5rem * .9);
      }
      @include vp-md {
        font-size: calc(1.5rem * .9);
      }
      @include vp-sm {
        font-size: calc(1.5rem * .8);
      }
      @include vp-xs {
        font-size: calc(1.5rem * .75);
      }
    }

    > .close {
      padding: .75rem 3rem;
      border: none;
      border-radius: 4rem;
      outline: none;
      background: #FC3435;
      font-size: 1.25rem;
      font-weight: 500;
      color: #FFFFFF;
      @include vp-lg {
        padding: calc(.75rem * .9) calc(3rem * .9);
        font-size: calc(1.25rem * .9);
      }
      @include vp-md {
        padding: calc(.75rem * .9) calc(3rem * .9);
        font-size: calc(1.25rem * .9);
      }
      @include vp-sm {
        padding: calc(.75rem * .8) calc(3rem * .8);
        font-size: calc(1.25rem * .8);
      }
      @include vp-xs {
        padding: calc(.75rem * .75) calc(3rem * .75);
        font-size: calc(1.25rem * .75);
      }
    }
  }

  &.active {
    z-index: 9999;
  }
}
